apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: mongodbatlasprojects.knappek.com
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.orgID
    description: The MongoDB Atlas Organization ID
    name: OrgID
    type: string
  - JSONPath: .status.clusterCount
    description: The number of Clusters in the Project
    name: ClusterCount
    type: integer
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  - JSONPath: .status.id
    description: The ID of the Project
    name: ProjectID
    priority: 1
    type: string
  group: knappek.com
  names:
    categories:
    - all
    - mongodbatlas
    kind: MongoDBAtlasProject
    listKind: MongoDBAtlasProjectList
    plural: mongodbatlasprojects
    shortNames:
    - map
    singular: mongodbatlasproject
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            orgID:
              type: string
          required:
          - orgID
          type: object
        status:
          properties:
            clusterCount:
              format: int64
              type: integer
            created:
              type: string
            id:
              type: string
            name:
              type: string
            orgID:
              type: string
          required:
          - id
          - name
          - orgID
          - created
          - clusterCount
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
