apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: mongodbatlasclusters.knappek.com
spec:
  group: knappek.com
  names:
    kind: MongoDBAtlasCluster
    listKind: MongoDBAtlasClusterList
    plural: mongodbatlasclusters
    singular: mongodbatlascluster
    shortNames:
    - mac
    categories:
    - all
    - mongodbatlas
  scope: Namespaced
  subresources:
    status: {}
  additionalPrinterColumns:
    - name: Project Name
      type: string
      description: The MongoDB Atlas Project where the cluster has been deployed
      JSONPath: .spec.projectName
    - name: MongoDB_Version
      type: string
      description: The MongoDB version of the cluster
      JSONPath: .status.mongoDBVersion
    - name: Status
      type: string
      description: The status of the cluster
      JSONPath: .status.stateName
    - name: Region
      type: string
      description: Physical location of your MongoDB cluster
      JSONPath: .status.providerSettings.regionName
    - name: Age
      type: date
      JSONPath: .metadata.creationTimestamp
    - name: Provider
      type: string
      description: Cloud service provider on which the servers are provisioned
      JSONPath: .status.providerSettings.providerName
      priority: 1
    - name: ContinuousBackups
      type: boolean
      description: Set to true to enable Atlas continuous backups for the cluster
      JSONPath: .status.backupEnabled
      priority: 1
    - name: ProviderBackups
      type: boolean
      description: Flag indicating if the cluster uses Cloud Provider Snapshots for backups
      JSONPath: .status.providerBackupEnabled
      priority: 1
    - name: SRV_Address
      type: string
      description: Connection string (DNS SRV Record) for connecting to the Atlas cluster
      JSONPath: .status.srvAddress
      priority: 1
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            autoScaling:
              properties:
                diskGBEnabled:
                  type: boolean
              required:
              - diskGBEnabled
              type: object
            backupEnabled:
              type: boolean
            diskSizeGB:
              format: double
              type: number
            mongoDBMajorVersion:
              type: string
            mongoDBVersion:
              type: string
            numShards:
              format: int64
              type: integer
            projectName:
              type: string
            providerBackupEnabled:
              type: boolean
            providerSettings:
              properties:
                backingProviderName:
                  type: string
                diskIOPS:
                  format: int64
                  type: integer
                encryptEBSVolume:
                  type: boolean
                instanceSizeName:
                  type: string
                providerName:
                  type: string
                regionName:
                  type: string
              type: object
            replicationFactor:
              format: int64
              type: integer
            replicationSpec:
              additionalProperties:
                properties:
                  analyticsNodes:
                    format: int64
                    type: integer
                  electableNodes:
                    format: int64
                    type: integer
                  priority:
                    format: int64
                    type: integer
                  readOnlyNodes:
                    format: int64
                    type: integer
                required:
                - priority
                - electableNodes
                - readOnlyNodes
                - analyticsNodes
                type: object
              type: object
          required:
          - projectName
          - backupEnabled
          - providerBackupEnabled
          type: object
        status:
          properties:
            autoScaling:
              properties:
                diskGBEnabled:
                  type: boolean
              required:
              - diskGBEnabled
              type: object
            backupEnabled:
              type: boolean
            diskSizeGB:
              format: double
              type: number
            groupID:
              type: string
            id:
              description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                of cluster Important: Run "operator-sdk generate k8s" to regenerate
                code after modifying this file Add custom validation using kubebuilder
                tags: https://book.kubebuilder.io/beyond_basics/generating_crd.html'
              type: string
            mongoDBMajorVersion:
              type: string
            mongoDBVersion:
              type: string
            mongoURI:
              type: string
            mongoURIUpdated:
              type: string
            mongoURIWithOptions:
              type: string
            name:
              type: string
            numShards:
              format: int64
              type: integer
            paused:
              type: boolean
            providerBackupEnabled:
              type: boolean
            providerSettings:
              properties:
                backingProviderName:
                  type: string
                diskIOPS:
                  format: int64
                  type: integer
                encryptEBSVolume:
                  type: boolean
                instanceSizeName:
                  type: string
                providerName:
                  type: string
                regionName:
                  type: string
              type: object
            replicationFactor:
              format: int64
              type: integer
            replicationSpec:
              additionalProperties:
                properties:
                  analyticsNodes:
                    format: int64
                    type: integer
                  electableNodes:
                    format: int64
                    type: integer
                  priority:
                    format: int64
                    type: integer
                  readOnlyNodes:
                    format: int64
                    type: integer
                required:
                - priority
                - electableNodes
                - readOnlyNodes
                - analyticsNodes
                type: object
              type: object
            srvAddress:
              type: string
            stateName:
              type: string
          required:
          - backupEnabled
          - providerBackupEnabled
          - paused
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
