apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: mongodbatlasdatabaseusers.knappek.com
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.projectName
    description: The MongoDB Atlas Project to which the database user has access to
    name: Project Name
    type: string
  group: knappek.com
  names:
    categories:
    - all
    - mongodbatlas
    kind: MongoDBAtlasDatabaseUser
    listKind: MongoDBAtlasDatabaseUserList
    plural: mongodbatlasdatabaseusers
    shortNames:
    - madbuser
    singular: mongodbatlasdatabaseuser
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            databaseName:
              type: string
            deleteAfterDate:
              type: string
            groupId:
              type: string
            password:
              type: string
            projectName:
              type: string
            roles:
              items:
                properties:
                  collectionName:
                    type: string
                  databaseName:
                    type: string
                  roleName:
                    type: string
                type: object
              type: array
            username:
              type: string
          required:
          - projectName
          type: object
        status:
          properties:
            results:
              items:
                properties:
                  databaseName:
                    type: string
                  deleteAfterDate:
                    type: string
                  groupId:
                    type: string
                  password:
                    type: string
                  roles:
                    items:
                      properties:
                        collectionName:
                          type: string
                        databaseName:
                          type: string
                        roleName:
                          type: string
                      type: object
                    type: array
                  username:
                    type: string
                type: object
              type: array
            totalCount:
              format: int64
              type: integer
          required:
          - results
          - totalCount
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
